<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">soyProgramadora</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/holly_order</property>
        <property name="format_sql">false</property>
        <property name="show_sql">true</property>
        <!-- automatic model creation options: none, validate, create, update,
        create-drop -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>

        <!--<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>


        <!-- mapping entities to table and tables to entities -->

        <mapping class="model.Product" />
        <mapping class="model.User" />
        <mapping class="model.Cart" />
        <mapping class="model.Order"/>
        <mapping class="model.CartItem"/>

    </session-factory>
</hibernate-configuration>

