
#Apricot {
    -fx-background-image: url("../images/des01.jpg");
}
#Yogurt {
    -fx-background-image: url("../images/des02.jpg");
}
#Banana {
    -fx-background-image: url("../images/des03.jpg");
}
#Tiramisu{
    -fx-background-image: url("../images/des04.jpg");
}

.paneCard {
    -fx-background-color: #7f333639;
}
.descPane{
    -fx-background-color: #e8efeb;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
}
.quantityLabel{
    -fx-font-size: 22;
}
.coloredText{
    -fx-text-fill: #5eaaa8;
}

.buttonCard {
    -fx-background-size: cover;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

